<div class="mp-org-volunteer-data-bar">
  <div class="_card">
    <span class="_title">志愿者总数</span>

    <div class="_help">
      <div class="_tag">?</div>
      <div class="_content">
        hello <br>
        world
      </div>

    </div>

    <span class="_num">20</span>
  </div>

  <div class="_card">
    <span class="_title">今日新增</span>

    <div class="_help">
      <div class="_tag">?</div>
      <div class="_content">
        hello <br>
        world
      </div>

    </div>

    <span class="_num">20</span>
  </div>

  <div class="_card">
    <span class="_title">活跃</span>

    <div class="_help">
      <div class="_tag">?</div>
      <div class="_content">
        hello <br>
        world
      </div>

    </div>

    <span class="_num">20</span>
  </div>

  <div class="_card">
    <span class="_title">关注的人数</span>

    <div class="_help">
      <div class="_tag">?</div>
      <div class="_content">
        hello <br>
        world
      </div>

    </div>

    <span class="_num">20</span>
  </div>

</div>