.mp-dash {
  .mp-header {
    background: #fff;
    height: $headerHeight;
    line-height: $headerHeight;
    position: fixed;
    top: 0;
    right: 0;
    left: $sideMenuWidth;
    z-index: 12;
    padding: 0 1.2rem;
  }
  .mp-side-menu {
    background: #32323A;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sideMenuWidth;
    z-index: 10;
  }
  .mp-main {
    background: #F1F2F7;
    position: relative;
    top: $headerHeight;
    min-height: calc(100vh - #{$headerHeight});

    left: $sideMenuWidth;
    width: calc(100% - #{$sideMenuWidth});

    padding: 1rem 1.2rem;

  }
}
