.mp-pagination {
  ul {
    text-align: right;
  }
  li {
    display: inline-block;
    cursor: pointer;
    padding: 0 .4em;
    //color: #337ab7;
    color: $primaryColor;
    border: 1px solid #c6cacd;
    margin: 0 .1em;
    &.active {
      background: #2cb5ac;
      color: #fff;
      border-color: #2cb5ac;
    }
    &.disable {
      cursor: not-allowed;
      color: #ddd;
      border-color: #ddd;
    }
  }
}